h1, p {
  font-family: sans-serif;
  font-weight: 100;
  position: relative;
  left: 400px;
  width: 55%;
}

p {
  font-size: 20px;
}

#title {
  padding-bottom: 10px;
}

#email {
  padding-bottom: 50px;
}

#author {
  padding-bottom: 0px;
}

li {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 100;
  position: relative;
  text-align: center;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #555;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f1f1f1;
}