@charset "UTF-8";

#body{
  display: inline-flexbox;
  width: 75%;
}

h1, p, h2, img {
  font-family: sans-serif;
  font-weight: 100;
  position: relative;
  margin-left: 400px;
  width: 70%;
}

p {
  font-size: 20px;
}

#title {
  padding-bottom: 10px;
}

#email {
  padding-bottom: 50px;
}

#author {
  padding-bottom: 0px;
}

li {
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 100;
  position: relative;
  text-align: center;

}

li a {
  display: grid;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  
}

li a:hover {
  background-color: #555;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #cfcfcf;
  position: fixed;
  overflow: auto;
}

table {
  display: inline-flexbox;
  position: relative;
  margin-left: 400px;
  width:50%;
}

table, th, td {
  border:1px solid black;
  border-collapse: collapse;
  font-family: sans-serif;
  font-weight: 100;
  padding: 8px;
}

#comp-title {
  font-size: x-large;
  padding: 30px;
  color: #3458a1;
}

.questions {
  font-size: 15px;
  color: #163168;
  vertical-align: top;
}

.text {
  font-size: 15px;
  vertical-align: top;
}

.good {
  background-color:  rgba(0, 255, 8, 0.703);
}

.medium {
  background-color: #ffd0009d;
}

.bad {
  background-color: #ff0000ae;
}

#userflow {
  width: 50%;
}

#wireframes {
  width: 75%; 
}

#keyscreen {
  width: 75%;
}
